
body {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
  }
/* we choose style for the legend panel*/  
  #panel {
    background-color: white;
    width: 400px;
    border: 1px solid rgba(0,0,0,0.3);
    position: absolute;
    right: 16px;
    top: 16 px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    color: rgba(0,0,0,0.5);
  }
  
  #panel li {
    padding: 3px; 
  }
  
  #map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
  }

  h4{
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin:0;
    padding: 16px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 16px;
    
  }

  ul span {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
  }

  dd {
    margin-left: 0;
    margin-bottom: 8px;
    font-weight: bold;
  }
/* we choose style for the popup content*/  
  .mapboxgl-popup-content {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    min-width: 250px;
    max-width: 400px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    
  }

  dl {
    margin: 0;
  }